{% extends "layout/LayoutBase.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% translate "Recordar contraseña" %}{% endblock %}

{% block content %}

<div class="mb-10">
  <!--begin::Title-->
  <h1 class="text-dark fw-bolder mb-3">
    {% trans 'Email enviado' %}
  </h1>
  <!--end::Title-->
</div>

<div>
  <p>{% trans 'Se le acaba de enviar un email con las instrucciones a seguir para resetear su password.' %}</p>
  <p class="text-left">{% trans 'Revise su bandeja de entrada y siga las instrucciones.' %}</p>
  <p class="text-left mb-5">{% trans 'Gracias.' %}</p>
  <p><a href="{% url 'auth:login' %}" class="btn btn-sm btn-primary">{% trans 'Volver' %}</a></p>
</div>

<!--end::Form-->

{% endblock content %}
