{% extends "layout/LayoutBase.html" %}

{% load i18n %}

{% load crispy_forms_tags %}

{% block title %}{% translate "Signup" %}{% endblock %}

{% block content %}

<!--begin::Form-->
<form method="post">
    {% csrf_token %}
    <!--begin::Heading-->
    <div class="text-center mb-10">
        <!--begin::Title-->
        <h1 class="text-dark fw-bolder mb-3">
            {% trans 'Establecer nueva contraseña' %}
        </h1>
        <!--end::Title-->
    </div>
    <!--begin::Heading-->

    {% include '_includes/Messages.html' %}
    {{ form.remember_key|as_crispy_field }}

    <!--begin::Input group-->
    <div class="fv-row mb-8" data-kt-password-meter="true">
        {{ form.password1|as_crispy_field }}
    </div>

    <div class="fv-row mb-8">
        {{ form.password2|as_crispy_field }}

    </div>

    <!--begin::Action-->
    <div class="d-grid mb-10">
        <button class="btn btn-primary">
            {% trans 'Enviar' %}
        </button>
    </div>
    <!--end::Action-->
</form>
<!--end::Form-->

{% endblock content %}
